@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.slider{
  margin-bottom: 150px;
}
.carousel-img{
  filter: brightness(50%);
  height: 600px;
}
@media  (max-width: 567px) {
  .slider{
    margin-bottom: 75px;
  }
  .slider h1,.courses-header{
    font-size: 20px;
  }
  .slider p,.courses-para{
    font-size: smaller;
  }
  .carousel-img{
    height: 400px;
  }
  .courses-img img{
    width: 100%;
    height: 250px;
  }
}