@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.slider{
  margin-bottom: 150px;
}
.carousel-img{
  filter: brightness(50%);
  height: 600px;
}
@media  (max-width: 567px) {
  .slider{
    margin-bottom: 80px;
  }
  .slider h1{
    font-size: 25px;
  }
  .slider p{
    font-size: small;
  }
  .carousel-img{
    height: 400px;
  }
}